/Week3/Day3/in_class/
/Week3/Day4/in_class/
/Week3/Day5/in_class/
/Week4/Day1/in_class/
/Week4/Day2/in_class/
/Week4/Day3/in_class/
/Week4/Day4/in_class/
/Week4/Day5/in_class/
/Week4/Day2/Ecercises_XP/dvdrental.tar
/Week4/big_O/
/Week5/Day1/in_class/
/Week5/Day2/in_class/
/Week5/Day3/in_class/
/Week5/Day4/in_class/
/Week5/Day5/in_class/
/Week5/Day4/Exersices/animal-info/my_env