* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    /* 1rem = 16px*1 default in root font-size 16px */
}

#head {
    display: flex;
    justify-content: space-between;
    height: 30vh;
}

#body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); used for different hith */
}

#right {
    width: 40%;
}

#left {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#body div {
    border: 1px solid rgb(8, 8, 8);
}