* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    font-size: 1em;
    text-align: justify;
    padding: 1% 2%;
}

.container::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.box {
    display: inline-block;
    width: 23%;
    /* Adjust the width as per your requirement */
    margin-bottom: 0%;
    /* Adjust the spacing between boxes */
    background-color: #fffefe;
    /* Optional, for visualization purposes */
    vertical-align: top;
}

.image-box {
    position: relative;
    width: 100%;
    padding-bottom: 130%;
}

.image-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-box {
    padding: 1%;
    text-align: center;
}

.discount_price {
    color: rgb(0, 128, 117);
    font-weight: bold;
}

.price {
    text-decoration: line-through;
}

.sticker {
    width: 100%;
    position: relative;
}

.green_sticker,
.red_sticker {
    position: absolute;
    top: 1em;
    z-index: 999;
    border-radius: 50%;
}

.green_sticker {
    left: 0.5em;
    background-color: rgb(0, 128, 117);
    border: 1.3em solid rgb(0, 128, 117);
}

.red_sticker {
    right: 0.5em;
    background-color: red;
    border: 1.3em solid rgb(255, 0, 0);
}

.green_sticker>p,
.red_sticker>p {
    position: absolute;
    top: -0.6em;
    left: -1.2em;
    color: white;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
}

article {
    font-size: 0.8em;
    width: 90%;
    display: inline-block;
    margin: 2%;
}

article>p:first-child {
    margin: 5% 0;
    font-weight: bold;
}

article>p:last-child {
    margin: 5% 0;
}

button {
    width: 70%;
    padding: 5%;
    background-color: white;
    color: black;
    border: 1px solid rgba(83, 85, 85, 0.397);
    border-radius: 0.5em;
    font-size: 0.8em;
    text-transform: uppercase;
    cursor: pointer;
    margin: 1% 0;
}